<g id="Africa">
          <path id="Western_Sahara" class="st0" d="M455.828,179.452l7.523,0.001l-0.188-4.927l3.058-1.779l0.179-8.073l9.059-0.001
            l0.077-4.093l0.024-1.193l-12.199-0.001l-1.171,2.966l-2.513,1.778l-1.281,4.705l-2.625,2.508l-0.48,0.727l0.647-0.765
            l0.018,0.403l-0.883,1.449l-1.22,3.138l-0.631,0.232l-0.568,1.007l-0.467,3.735l0.319-1.819L455.828,179.452z"/>
          <path id="Namibia" class="st0" d="M563.283,303.044l-6.742,1.121l-5.33-0.636l-1.246-1.349l-12.314,0.108l-2.272-1.493
            l-3.906,0.957l0.1,2.621l7.159,14.165l-0.251,4.933l1.954,10.193l3.082,3.98l1.621-1.741l0.83,2.17l2.052,0.617l2.546,0.17
            l2.439-1.712l0.512-11.595l0.284-8.749l2.728-0.026l0.368-11.655l6.386-1.022l0.826,1.55l2.118-1.7l2.505-0.464l-0.785-0.769
            l-4.131,0.21L563.283,303.044z"/>
          <path id="Angola" class="st0" d="M531.493,300.169l0.064,0.157l-0.212-0.853L531.493,300.169z M538.123,265.606l-2.288,0.024
            l-2.614,0.766l3.15,7.254l-1.154,2.219l2.15,5.061l0.012,3.508l-3.631,5.177l-2.266,7.674l0.213,0.464l0.003,1.616l-0.226,2.383
            l3.906-0.957l2.272,1.493l12.314-0.108l1.246,1.349l5.33,0.636l6.742-1.121l0.532-0.116l-3.936-4.609l0.25-10.038l5.618,0.007
            l0.05-6.769l-4.843,1.075l0.21-2.679l-1.405-3.039l0.069-6.733l-3.446,0.009l0.239-1.172l-3.049,0.262l-0.497,3.167l-4.884,0.323
            l-1.877-2.85l-0.976-4.113L538.123,265.606z M535.606,261.847l0.008-0.093l-0.869-0.773l-2.115,1.984l0.514,2.388l0.873-0.141
            l0.121-2.214L535.606,261.847z"/>
          <path id="Lesotho" class="st0" d="M572.991,343.419l1.322,0.775l0.92-1.547l2.186-0.778l0.86-2.008l-2.178-2.116l-4.417,3.213
            L572.991,343.419z"/>
          <path id="Swaziland" class="st0" d="M582.925,330.437l-0.332,1.603l0.844,1.245l2.211,0.359l0.503-1.511l-0.258-2.798
            l-1.691-0.655L582.925,330.437z"/>
          <path id="Mozambique" class="st0" d="M588.552,329.654l0.089-0.272l-0.246,0.216L588.552,329.654z M596.302,315.789l0.003-0.51
            l-0.165,0.822L596.302,315.789z M609.366,299.085l-0.088-0.429l-0.154,0.269L609.366,299.085z M611.762,282.031l-0.122-1.755
            l-3.324,2.186l-3.705,0.371l-1.379,1.402l-3.538-0.065l-0.949-0.925l-2.441,0.499l-0.948,0.012l-0.754,1.838l0.405,3.76
            l3.577,4.891l-0.464,3.594l-1.958,1.692l0.34,1.841l-2.679-3.914l1.01-1.953l-0.095-2.254l-2.461-0.101l-1.078-1.671l-8.456,3.071
            l0.485,2.06l-0.027,1.196l2.362,0.03l4.622,2.188l-0.061,1.762l0.075,3.435l-1.12,1.887l0.727,3.165l-1.521,2.076l-0.152,2.363
            l-3.433,3.391l1.617,6.48l-0.423,4.753l0.258,2.798l2.051,0.024l0.338-2.421l-0.358,0.664l-0.642-1.007l0.724-1.167l6.183-3.025
            l1.433-1.74l0.482-5.935l-0.67,0.588l-1.434-8.872l0.731,0.759l3.886-3.06l2.036-2.481l-0.244-0.733l6.371-2.823l4.38-4.775
            l0.837-2.478l-0.97-5.501l0.684-0.637L611.762,282.031z M595.25,285.137l0.076,0.002l-0.019,0.077L595.25,285.137z
             M595.585,285.203l0.085,0.036l-0.068,0.163L595.585,285.203z"/>
          <path id="Malawi" class="st0" d="M595.602,285.402l0.068-0.163l-0.085-0.036L595.602,285.402z M595.306,285.215l0.019-0.077
            l-0.076-0.002L595.306,285.215z M591.377,277.158l-0.535-0.282l2.033,3.666l-1.285,1.029l-0.051,3.986l0.737,0.681l-1.413,0.775
            l-1.126,3.177l1.463,1.287l1.078,1.671l2.461,0.101l0.095,2.254l-1.01,1.953l2.679,3.914l-0.34-1.841l1.958-1.692l0.464-3.594
            l-3.577-4.891l-0.405-3.76l0.754-1.838l0.948-0.012l-1.627-5.829L591.377,277.158z"/>
          <path id="Botswana" class="st0" d="M572.634,322.339l3.827-3.621l3.005-1.321l-0.801-1.249l-2.832-0.735l-0.69-3.357l-1.168-0.036
            l-0.134-1.278l-2.828-1.787l-2.281-5.468l-2.505,0.464l-2.118,1.7l-0.826-1.55l-6.386,1.022l-0.368,11.655l-2.728,0.026
            l-0.284,8.749l2.065,3.546l-0.59,2.997l2.773,0.115l2.712-2.389l1.179-2.576l4.443,1.675l2.288-0.476l1.131-2.961l2.729-1.522
            L572.634,322.339z"/>
          <path id="Zambia" class="st0" d="M567.946,302.718l0.785,0.769l4.875,0.498l2.295-3.17l2.632-1.29l0.534-1.838l4.161-1.079
            l-0.485-2.06l8.456-3.071l-1.463-1.287l1.126-3.177l1.413-0.775l-0.737-0.681l0.051-3.986l1.285-1.029l-2.033-3.666l-5.242-2.582
            l-0.729-1.261l-5.233,0.907l-1.523,2.479l0.82,4.413l-1.003,2.844l1.79,2.637l1.278,0.238l0.892-0.96l-0.13,4.116l-0.566-0.736
            l-1.61,0.557l-1.515-2.783l-2.155-0.707l-1.225-2.309l-0.951,1.286l-2.398-0.225l-1.776-0.827l-0.046-1.421l-2.478,0.856
            l-1.249-1.88l-0.05,6.769l-5.618-0.007l-0.25,10.038l3.937,4.609L567.946,302.718z"/>
          <path id="DR_Congo" class="st0" d="M571.382,230.617l-0.983-0.599l-2.242,1.491l-0.958-0.649l-2.706,1.662l-1.473-0.729
            l-1.425,2.198l-5.023-0.895l-3.274-2.295l-2.439,2.531l0.251,2.713l-1.47,3.978l-1.04,8.751l-4.266,5.193l0.07,3.652l-0.952,1.948
            l-3.455,3.063l-0.677-0.07l-0.039-1.932l-1.88,0.533l-0.89,1.384l-0.897-0.79l-0.008,0.093l-1.469,1.15l-0.121,2.214l-0.873,0.141
            l0.614,0.786l2.079-0.508l2.288-0.024l7.214,0.165l0.976,4.113l1.877,2.85l4.884-0.323l0.497-3.167l3.049-0.262l-0.239,1.172
            l3.446-0.009l-0.069,6.733l1.405,3.039l-0.21,2.679l4.843-1.075l1.249,1.88l2.478-0.856l0.046,1.421l1.776,0.827l2.398,0.225
            l0.951-1.286l1.225,2.309l2.155,0.707l1.515,2.783l1.61-0.557l0.566,0.736l0.13-4.116l-0.892,0.96l-1.278-0.238l-1.79-2.637
            l1.003-2.844l-0.82-4.413l1.523-2.479l5.233-0.907l-3.31-6.012l-0.277-5.854l-0.518-2.209l-0.545-3.189l-0.428-1.11l2.059-3.196
            l1.025-7.008l3.736-4.106l-1.612-1.035l0.33-3.313l-3.441-3.645l-3.567,1.121l-2.564-2.302L571.382,230.617z M535.204,265.693
            l-0.604,0.214l0.301-0.295L535.204,265.693z"/>
          <path id="Tanzania" class="st0" d="M609.751,272.402l0.636-1.123l-0.887,0.973L609.751,272.402z M609.212,266.753l-0.37-1.542
            l-0.317,1.594l0.864,0.766L609.212,266.753z M610.065,264.383l0.369-1.756l-0.506,0.104L610.065,264.383z M587.68,250.24
            l-3.346,0.202l1.135,3.209l-0.905,1.024l-0.448,1.467l1.189,0.37l-0.033,0.881l-2.297,3.209l-1.691,0.566l0.277,5.854l3.31,6.012
            l0.729,1.261l5.242,2.582l0.535,0.282l3.301,0.756l1.627,5.829l2.441-0.499l0.949,0.925l3.538,0.065l1.379-1.402l3.705-0.371
            l3.324-2.186l-1.654-1.537l-1.128-3.456l-0.216-4.194l0.803-1.853l-2.096-3.007l1.268-4.36l-4.391-3.693l-0.011-1.611
            l-10.256-6.321L587.68,250.24z"/>
          <path id="Burundi" class="st0" d="M580.766,258.958l0.518,2.209l1.691-0.566l2.297-3.209l0.033-0.881l-1.189-0.37l0.448-1.467
            l-1.736-0.284l-0.295,1.427l-2.312-0.048L580.766,258.958z"/>
          <path id="Rwanda" class="st0" d="M582.828,254.39l1.736,0.284l0.905-1.024l-1.135-3.209l-1.425,1.271l-1.057-0.249l-2.059,3.196
            l0.428,1.11l2.312,0.048L582.828,254.39z"/>
          <path id="Uganda" class="st0" d="M594.08,233.69l-1.323,1.491l-1.404-0.432l-2.289,1.195l-2.854-0.9l-0.879,0.957l-0.33,3.313
            l1.612,1.035l-3.736,4.106l-1.025,7.008l1.057,0.249l1.425-1.271l3.346-0.202l6.279,0.004l-0.03-3.499l3.063-5.68l-1.585-5.628
            L594.08,233.69z"/>
          <path id="Republic_of_the_Congo" class="st0" d="M534.744,260.98l0.869,0.773l0.897,0.79l0.89-1.384l1.88-0.533l0.039,1.932
            l0.677,0.07l3.455-3.063l0.952-1.948l-0.07-3.652l4.266-5.193l1.04-8.751l1.47-3.978l-3.22-0.74l-2.278,0.57l-1.246,4.159
            l-0.372,1.796l-4.224-1.633l-3.557,0.018l-0.292,2.982l2.804-0.535l0.838,1.514l-1.786,3.525l1.875,1.301l-0.257,4.064
            l-0.899,1.906l-0.971-1.281l-0.786,1.105l-1.346-0.221l-0.979-1.728l-0.486,1.599l-2.529,0.019l0.969,4.131l-1.198-0.412
            l-1.002,1.326l2.46,3.453L534.744,260.98z"/>
          <path id="Gabon" class="st0" d="M524.226,249.505l-0.003-0.535l-0.168,0.188L524.226,249.505z M534.057,239.836l-3.312,0.364
            l0.047,3.697l-4.338-0.002l-0.67,0.062l0.1,1.591l-0.83-0.15l1.729,1.087l-1.606-0.563l-0.138,2.328l-0.797,1.418l-0.85-0.564
            l2.247,3.028l-1.484-1.149l1.763,3.621l1.441,0.454l-1.202-0.236l4.012,4.689l1.002-1.326l1.198,0.412l-0.969-4.131l2.529-0.019
            l0.486-1.599l0.979,1.728l1.346,0.221l0.786-1.105l0.971,1.281l0.899-1.906l0.257-4.064l-1.875-1.301l1.786-3.525l-0.838-1.514
            l-2.804,0.535l0.292-2.982L534.057,239.836z M525.757,246.202l-0.046,0.011l0.018-0.045L525.757,246.202z"/>
          <path id="Equatorial_Guinea" class="st0" d="M514.801,251.745l-0.021-0.172l-0.052,0.154L514.801,251.745z M527.069,240.201
            l-0.601-0.557l-1.266,3.728l1.252,0.522l4.338,0.002l-0.047-3.697L527.069,240.201z M523.785,235.982l0.284-0.648l-0.763-0.12
            l-0.667,1.481L523.785,235.982z"/>
          <path id="Nigeria" class="st0" d="M519.888,232.984l-0.153-0.136l-0.212,0.143L519.888,232.984z M519.154,233.19l0.315-0.291
            l-0.254-0.151L519.154,233.19z M515.318,203.5l-4.805,0.864l-1.474,5.652l0.708,3.512l-2.106,4.736l-0.852,0.148l-0.182,8.488
            l3.037-0.784l-1.168,0.537l3.178,0.438l1.82,2.312l0.91-0.143l-0.68,0.586l1.068-0.319l-0.821,0.653l0.301,1.29l1.828,2.061
            l1.649-0.181l0.09-0.871l0.342,0.813l-0.229-1.351l0.668,1.284l-0.124-1.128l0.313,0.921l-0.007-1.011l1.695,0.816l2.554-0.997
            l0.752-3.267l2.585-3.041l2.284-0.846l2.037,1.989l1.451-2.04l1.059-4.194l1.506-1.146l2.745-7.244l2.316-1.648l-0.028-1.941
            l-1.318-0.66l-0.307-2.171l-1.277-2.018l-3.21,2.067l-4.831-1.015l-3.007,1.851l-5.071-1.744l-2.441,1.127l-1.43-1.927
            L515.318,203.5z"/>
          <path id="Central_African_Republic" class="st0" d="M552.176,219.887l-1.292,1.705l-8.608,1.628l-2.979,4.726l0.905,4.475
            l3.863,5.466l0.301,2.147l1.246-4.159l2.278-0.57l3.22,0.74l-0.251-2.713l2.439-2.531l3.274,2.295l5.023,0.895l1.425-2.198
            l1.473,0.729l2.706-1.662l0.958,0.649l2.242-1.491l0.983,0.599l4.377,0.558l-0.902-2.394l-1.983-0.969l-0.114-1.802l-3.382-2.697
            l0.113-1.119l-2.981-1.436l0.006-1.215l-1.907-0.086l0.363-3.653l-2.295-3.345l-3.178,0.897l0.008,1.106l-3.69,3.746l-3.85,0.457
            L552.176,219.887z"/>
          <path id="Somalia" class="st0" d="M618.567,212.205l-0.742,1.172l0.558,1.296l3.358,3.855l8.463,3.188l2.724-0.01l-8.255,9.829
            l-3.534,0.033l-4.931,2.889l-2.519,3.645l0.085,11.713l1.551,2.563l5.422-7.367l7.026-5.634l5.324-6.452l7.632-15.746l0.065-2.811
            l1.42-0.418l-1.109,0.028l0.545-4.417l-1.433-0.452l-1.837,1.481l-7.434,1.052l-2.588,1.556l-1.938-0.591l-2.348,1.441
            l-1.73-0.086l-2.98-3.238L618.567,212.205z"/>
          <path id="Djibouti" class="st0" d="M618.285,210.358l-0.995,0.058l2.459-1.552l-0.897-2.064l-1.975,0.756l-1.499,2.312
            l-0.026,2.319l3.214,0.018l0.796-1.48L618.285,210.358z"/>
          <path id="Eritrea" class="st0" d="M609.972,196.838l-0.263,0.782l1.228,0.099L609.972,196.838z M610.011,196.191l-0.236-0.125
            l-0.126,0.263L610.011,196.191z M606.105,191.128l-0.603-1.082l-3.089,3.044l-1.187-0.126l0.064,2.549l-1.302,3.548l0.396,2.814
            l2.052-0.602l0.825,1.108l0.834-2.476l1.557,1.477l1.56-0.753l3.369,0.671l6.299,6.255l1.975-0.756l-5.688-6.098l-2.823-1.081
            l-0.882-1.635l-0.381,1.284L606.105,191.128z"/>
          <path id="Comoros" class="st0" d="M620.954,286.228l-0.648-0.31l0.115,0.314L620.954,286.228z M622.731,285.394l-0.79,0.218
            l0.825,0.692L622.731,285.394z M619.893,284.895l-0.43-1.761l-0.218,1.209L619.893,284.895z"/>
          <path id="Senegal" class="st0" d="M451.462,200.76l0.997,1.906l1.154-0.487l-1.078,0.679l0.712-0.019l-0.228,1.166l4.164-0.749
            l3.51,1.331l-1.542,0.534l-2.095-1.135l-0.492,0.702l-1.442,0.085l-0.027,0.596l-2.62,0.316l-0.04,1.569l0.451-0.718l2.623,0.748
            l0.736-0.876l-0.673,0.953l-2.663-0.322l-0.379,0.983l6.135-1.132l2.234,0.008l3.787,1.19l2.707-0.336l0.006-1.839l-1.86-2.144
            l-0.473-3.485l-5.715-5.94l-5.359,0.377l-0.714,1.456l-1.027,2.647l-1.857,1.486L451.462,200.76z"/>
          <path id="The_Gambia" class="st0" d="M452.55,204.45l-0.074,1.235l2.62-0.316l0.027-0.596l1.442-0.085l0.492-0.702l2.095,1.135
            l1.542-0.534l-3.51-1.331l-4.164,0.749l0.461,0.822l0.703-0.392l2.357-0.119l-2.409,0.21l-0.116,0.55L452.55,204.45z"/>
          <path id="Guinea_-_Bissau" class="st0" d="M454.787,212.047l-0.163-0.452l-0.103,0.461L454.787,212.047z M454.453,211.996
            l0.076-0.425l-0.227,0.125L454.453,211.996z M454.222,212.132l0.023-0.575l-0.455,0.337L454.222,212.132z M454.858,211.579
            l0.093-0.32l-0.215,0.24L454.858,211.579z M455.197,211.684l0.208-0.442l-0.306,0.255L455.197,211.684z M453.981,211.531
            l0.05-0.238l-0.289,0.027L453.981,211.531z M455.376,210.82l0.041-0.199l-0.217,0.139L455.376,210.82z M453.893,210.819
            l0.138-0.239l-0.382,0.208L453.893,210.819z M453.792,210.512l-0.398-0.029l-0.074,0.2L453.792,210.512z M454.617,210.872
            l-0.009-0.542l-0.303,0.458L454.617,210.872z M455.732,210.574l0.23-0.361l-0.453,0.304L455.732,210.574z M454.41,209.818
            l0.156-0.475l-0.513,0.118L454.41,209.818z M453.845,209.561l0.146-0.126l-0.321-0.301L453.845,209.561z M458.664,206.89
            l-6.135,1.132l1.689-0.027l-0.631,0.57l-0.006,0.489l0.567,0.364l0.772-0.427l0.412,0.039l-0.732,0.856l2.679-0.761l0.191,0.708
            l-1.739,0.087l1.468,0.409l-1.352,0.812l0.682-0.278l-0.405,0.763l1.07-0.033l0.007,0.757l0.94-1.753l2.729-0.651l-0.711-1.393
            l0.739-1.656L458.664,206.89z"/>
          <path id="Guinea" class="st0" d="M461.099,216.223l0.836,2.226l2.364-2.713l3.463-0.346l1.77,2.972l-0.363,2.411l1.201-0.601
            l2.182,0.448l-0.021,3.121l1.053,0.517l1.254-1.572l0.531,0.424l1.466-1.449l-0.694-1.515l1.537,0.375l-0.861-1.378l0.632-0.871
            l-1.138-1.413l0.484-2.002l-0.862-2.669l-1.089,0.131l0.906-1.075l-0.486-0.597l-1.704-3.144l-1.532,1.448l-1.724-0.621
            l-0.925,1.053l-0.758-1.052l-1.082,0.639l-0.147-1.22l-2.707,0.336l-3.787-1.19l-0.739,1.656l0.711,1.393l-2.729,0.651
            l-0.94,1.753l0.904-0.25l0.059,1.77L461.099,216.223z"/>
          <path id="Cote_d_x27__Ivoire" class="st0" d="M490.339,230.879l-0.185-0.024l0.182,0.102L490.339,230.879z M485.629,230.693
            l2.189-0.201l-0.396-0.144L485.629,230.693z M485.629,230.693l2.739-0.657l-0.55,0.386l1.975,0.43l0.434-0.791l0.598,0.848
            l0.459-1.518l-1.35-3.271l2.134-5.027l-0.545-4.069l-2.639-1.498l-2.987,0.812l-2.263-2.339l-1.651,0.756l-0.36-1.703
            l-2.084,1.863l-1.798-0.953l-0.948,0.896l-0.484,2.002l1.138,1.413l-0.632,0.871l0.861,1.378l-1.537-0.375l0.694,1.515
            l-1.466,1.449l0.441,2.22l-0.837,1.119l3.297,2.118l-0.3,4.711l7.059-2.46l-0.885-0.322L485.629,230.693z"/>
          <path id="Sierra_Leone" class="st0" d="M464.044,223.521l-0.179-0.643l-1.011,0.21L464.044,223.521z M467.762,215.39l-3.463,0.346
            l-2.364,2.713l0.451,0.539l-0.309,0.188l0.208,0.9l0.748-0.156l-0.624,0.336l0.19,0.295l-0.657-0.404l0.904,1.889l4.073,3.083
            l3.452-4.948l-1.201,0.601l0.363-2.411L467.762,215.39z"/>
          <path id="Ghana" class="st0" d="M500.798,228.547l-0.421-0.628l-0.784-0.146l0.849,0.109l0.342,0.34l0.162,0.634l1.415-1.117
            l-1.883-2.685l0.563-4.353l-0.961-1.392l0.468-2.062l-0.929-0.145l0.42-2.542l-1.443-2.786l-1.305,0.719l-6.168-0.286l0.404,4.817
            l0.545,4.069l-2.134,5.027l1.35,3.271l-0.459,1.518l-0.487-0.03l-0.002,0.078l2.918,1.122l1.246-0.919l2.286-0.593l2.939-1.742
            l1.136,0.011L500.798,228.547z"/>
          <path id="Togo" class="st0" d="M502.91,217.188l-0.123-1.792l-1.612-1.209l0.392-1.964l-2.973-0.45l1.443,2.786l-0.42,2.542
            l0.929,0.145l-0.468,2.062l0.961,1.392l-0.563,4.353l1.883,2.685l1.219-0.374L502.91,217.188z"/>
          <path id="Benin" class="st0" d="M505.951,226.979l0.657-0.079l0.182-8.488l0.852-0.148l2.106-4.736l-0.708-3.512l-2.136-2.229
            l-1.279,0.496l0.058,1.09l-1.063,1.501l-1.613-0.115l-1.438,1.466l-0.392,1.964l1.612,1.209l0.123,1.792l0.67,10.176
            L505.951,226.979z"/>
          <path id="Algeria" class="st0" d="M506.772,130.349l-5.27,1.137l-8.32,4.396l1.213,1.085l0.184,4.733l1.74,2.384l-0.458,1.257
            l-4.466,0.07l-2.588,1.24l0.488,2.288l-3.486,1.459l-1.686,1.912l-4.278,0.839l-4.218,2.935l-0.067,3.304l-0.024,1.193
            l5.375,3.684l5.01,3.581l16.301,12.353l-0.004,1.145l1.729,1.371l3.957,1.546l0.285,2.674l2.512-0.54l4.307-0.949l4.46-4.457
            l12.293-8.458l-1.218-2.473l-3.582-0.962l-2.418-4.909l1.262-1.145l0.115-4.156l-0.615-5.077l-1.3-2.195l0.617-0.353l-1.448-5.888
            l-1.921-1.369l-2.382-4.294l1.947-2.415l-0.348-6.049l1.109-1.348l-5.831-0.468l-2.772,1.441l-1.435-0.822L506.772,130.349z"/>
          <path id="Libya_1_" class="st0" d="M525.919,158.888l-0.115,4.156l-1.262,1.145l2.418,4.909l3.582,0.962l1.218,2.473l4.281,1.121
            l1.93,1.757l2.058-1.224l2.705-1.426l22.329,12.52l-0.062-1.593l2.75,0.009l-0.237-6.338l-1.168-22.98l-0.975-2.907l0.861-4.665
            l-0.551-1.02l-4.664-0.778l-0.452-1.316l-4.035-0.953l-3.942,2.369l0.184,4.196l-2.74,1.857l-4.504-2.571l-4.353-0.959
            l-1.739-3.199l-9.789-2.445l0.193,2.307l-3.339,2.363l-0.107,3.04l-1.772,1.567l-0.617,0.353l1.3,2.195L525.919,158.888z"/>
          <path id="Sudan" class="st0" d="M601.35,181.312L601.319,181l-0.048,0.202L601.35,181.312z M585.193,177.361l-0.032-0.741
            l-0.469,0.741l-17.179-0.004l0.237,6.338l-2.75-0.009l0.062,1.593l0.394,12.043l-2.929,0.433l0.036,1.413l-1.482,1.781
            l0.508,1.358l-1.279,1.098l0.613,1.333l-1.256,1.778l1.788,0.557l1.219,5.385l2.295,3.345l-0.363,3.653l1.907,0.086l0.767-1.412
            l0.818-1.5l0.35-1.817l2.764-0.702l1.041,1.802l1.365,1.124l2.139-0.542l1.174,0.293l0.322,0.888l1.586-0.373l0.879-0.957
            l1.308-0.182l0.126-1.195l1.25-0.649l1.477,0.827l1.387,1.246l1.713-0.968l1.067-2.066l1.222-1.448l-0.274-1.869l-0.583-0.941
            l1.58,0.295l-0.03-1.317l1.67,0.228l-0.339,1.773l1.052,3.319l1.376,1.643c0.592-1.294,0.38-0.567,0.467,0.028
            c0.525-0.774,0.765-1.704,1.142-2.502l0.765,0.484l0.545-3.46l1.593-2.659l1.223-0.129l0.924-4.928l-0.396-2.814l1.302-3.548
            l-0.064-2.549l1.188,0.126l3.089-3.044l-3.368-2.735l-1.314-7.459l0.587,0.481l-1.323-2.977l-7.445,0.003L585.193,177.361
            L585.193,177.361z"/>
          <polygon id="South_Sudan" class="st0" points="568.45,214.813 571.214,214.111 572.256,215.913 573.62,217.037 575.759,216.495 
            576.932,216.788 577.254,217.676 578.841,217.304 579.719,216.347 581.028,216.165 581.154,214.97 582.403,214.32 
            583.881,215.147 585.268,216.393 586.981,215.425 588.048,213.359 589.27,211.911 588.996,210.043 588.413,209.101 
            589.993,209.396 589.963,208.079 591.633,208.307 591.294,210.081 592.346,213.399 593.722,215.042 594.13,214.324 594.19,215.07 
            594.453,214.627 594.191,219.89 591.778,220.266 591.082,221.957 593.108,222.796 595.939,225.91 597.676,230.029 
            599.131,230.185 599.498,232.423 595.158,232.463 592.757,235.181 591.353,234.749 589.063,235.944 586.21,235.044 
            585.331,236.001 581.89,232.356 578.324,233.477 575.759,231.175 572.874,227.811 572.76,226.009 569.377,223.312 
            569.491,222.193 566.509,220.757 566.515,219.543     "/>
          <path id="Chad" class="st0" d="M539.298,205.871l0.224,0.833l1.323,2.091l0.106,4.084l1.757,2.536l-4.143,0.025l-0.65,1.087
            l3.505,3.653l0.857,3.04l8.608-1.628l1.292-1.705l-0.21-1.223l3.85-0.457l3.69-3.746l-0.008-1.106l3.178-0.897l-1.219-5.385
            l-1.788-0.557l1.256-1.778l-0.613-1.333l1.279-1.098l-0.508-1.358l1.482-1.781l-0.036-1.413l2.929-0.433l-0.394-12.043
            l-22.329-12.52l-2.705,1.426l0.674,4.768l2.265,3.62l-1.151,10.897l-5.451,7.774l0.469,2.354l1.277,2.018L539.298,205.871z"/>
          <path id="Mauritania" class="st0" d="M453.813,184.948l0.249-0.833l-0.331,0.528L453.813,184.948z M480.91,164.265l-5.375-3.684
            l-0.077,4.093l-9.059,0.001l-0.179,8.073l-3.058,1.779l0.188,4.927l-7.523-0.001h-3.322l-0.319,1.819l0.396-1.259l1.913,2.974
            l-0.934,2.759l1.181,5.147l-1.466,5.286l0.714-1.456l5.359-0.377l5.715,5.94l1.123-0.313l0.997-2.483l1.623,1.71l0.522-1.052
            l3.615-0.016l0.212-0.827l0.005,0.65l10.631,0.004l0.461-2.629l-0.733-0.57l-2.425-26.909l4.824-0.004L480.91,164.265z"/>
          <path id="Mali" class="st0" d="M475.263,210.648l0.486,0.597l-0.906,1.075l1.089-0.131l0.862,2.669l0.948-0.896l1.798,0.953
            l2.084-1.863l0.36,1.703l1.651-0.756l0.707-4.461l2.386-1.448l0.234-2.601l1.041-1.211l1.458,1.069l0.506-1.68l1.05,0.13
            l1.128-2.003l1.297,0.316l0.074-0.909l3.484-1.927l2.661,0.531l2.984-1.178l6.125-0.227l1.857-3.282l0.08-7.135l-0.009-1.589
            l-2.512,0.54l-0.285-2.674l-3.957-1.546l-1.729-1.371l0.004-1.145l-16.301-12.353l-4.824,0.004l2.425,26.909l0.733,0.57
            l-0.461,2.629l-10.631-0.004l-0.005-0.65l-0.212,0.827l-3.615,0.016l-0.522,1.052l-1.623-1.71l-0.997,2.483l-1.123,0.313
            l0.473,3.485l1.86,2.144l-0.006,1.839l0.147,1.22l1.082-0.639l0.758,1.052l0.925-1.053l1.724,0.621l1.532-1.448L475.263,210.648z"
            />
          <path id="Niger" class="st0" d="M510.709,187.984l-0.08,7.135l-1.857,3.282l-6.125,0.227l-2.984,1.178l1.02,3.838l1.898,1.122
            l-0.816-0.069l-0.006,1.028l1.639,1.322l1.568-0.204l0.716,2.53l-0.058-1.09l1.279-0.496l2.136,2.229l1.474-5.652l4.805-0.864
            l1.525,0.457l1.43,1.927l2.441-1.127l5.071,1.744l3.007-1.851l4.831,1.015l3.21-2.067l-0.469-2.354l5.451-7.774l1.151-10.897
            l-2.265-3.62l-0.674-4.768l-2.058,1.224l-1.93-1.757l-4.281-1.121l-12.293,8.458l-4.46,4.457l-4.307,0.949L510.709,187.984z"/>
          <path id="Maldives" class="st0" d="M703.85,249.257l-0.012-0.026l-0.044,0.007L703.85,249.257z M703.92,249.229l0.002-0.043
            l-0.038,0.055L703.92,249.229z M703.718,249.191l-0.022-0.049l0.011,0.049H703.718z M704.003,249.125l0.032-0.096l-0.045,0.047
            L704.003,249.125z M703.683,249.086l-0.069-0.169l-0.002,0.077L703.683,249.086z M704.052,248.99l0.004-0.092l-0.038,0.03
            L704.052,248.99z M704.612,248.02l-0.012-0.045l-0.04,0.004L704.612,248.02z M703.661,246.4l-0.01-0.054l-0.022,0.003
            L703.661,246.4z M703.963,246.34l0.016-0.026l-0.031-0.003L703.963,246.34z M703.488,246.249l-0.034-0.042l0.004,0.036
            L703.488,246.249z M704.414,246.184l0.011-0.038l-0.035,0.033L704.414,246.184z M704.797,245.873l-0.012-0.045l-0.012,0.027
            L704.797,245.873z M703.2,245.523l-0.017-0.035l0.003,0.045L703.2,245.523z M704.753,245.488l-0.029-0.026l0.015,0.035
            L704.753,245.488z M704.369,241.425l-0.001-0.043l-0.037,0.021L704.369,241.425z M704.436,241.387l0.023-0.038l-0.028-0.002
            L704.436,241.387z M704.121,241.266l-0.007,0.028l0.036,0.012L704.121,241.266z M704.737,241.283l0.026-0.065l-0.06,0.077
            L704.737,241.283z M704.016,241.085l-0.008-0.029l-0.016,0.039L704.016,241.085z M704.854,241.062l-0.003-0.129l-0.025,0.143
            L704.854,241.062z M704.859,240.844l-0.017-0.042l0.004,0.045L704.859,240.844z M704.214,240.781l-0.002-0.033l-0.024,0.029
            L704.214,240.781z M704.952,240.393l-0.059-0.008l-0.023,0.044L704.952,240.393z M703.646,240.13l-0.006-0.02h-0.033
            L703.646,240.13z M703.099,239.737l-0.023-0.046l-0.007,0.02L703.099,239.737z M704.314,239.515l0.004-0.08l-0.053-0.099
            L704.314,239.515z M704.176,239.173l-0.025-0.039l0.008,0.04L704.176,239.173z M702.923,238.574l-0.028-0.047l0.001,0.035
            L702.923,238.574z M703.337,238.406l0.026-0.041l-0.044,0.033L703.337,238.406z M704.262,238.288l-0.021-0.033l-0.001,0.035
            L704.262,238.288z M703.302,237.733l-0.016-0.025l-0.017,0.025H703.302z M704.875,237.726l0.014-0.059l-0.03,0.054
            L704.875,237.726z M703.191,237.241l0.001-0.028l-0.025,0.009L703.191,237.241z M704.864,236.399l0.009-0.029l-0.025,0.015
            L704.864,236.399z M705.322,236.15l-0.006-0.019l-0.01,0.004L705.322,236.15z M702.658,235.947l-0.012-0.021l-0.029,0.018
            L702.658,235.947z M702.991,235.84l0.011-0.049l-0.052,0.07L702.991,235.84z M702.347,235.301l0.005-0.032l-0.033-0.002
            L702.347,235.301z M704.5,234.608l0.017-0.024l-0.04,0.026L704.5,234.608z M702.358,234.41l-0.006-0.026l-0.028,0.009
            L702.358,234.41z M704.594,234.099l-0.027-0.042l-0.002,0.033L704.594,234.099z M704.563,233.875l0.003-0.046l-0.039,0.011
            L704.563,233.875z M704.603,233.789l-0.019,0.029l0.022,0.018L704.603,233.789z M703.033,233.544l0.008,0.02l0.043,0.002
            L703.033,233.544z M703.004,231.614l0.027-0.074l-0.028,0.01L703.004,231.614z M704.698,230.359l-0.001-0.042l-0.063,0.03
            L704.698,230.359z M703.935,230.082l0.037-0.018l-0.052,0.004L703.935,230.082z M704.813,230.005l0.003-0.086l-0.049-0.026
            L704.813,230.005z M704.078,228.977l0.022-0.06l-0.015-0.042L704.078,228.977z M702.974,228.815l-0.028-0.033l0.001,0.04
            L702.974,228.815z M704.211,228.605l0.039-0.07l-0.057,0.07H704.211z M702.902,228.53l-0.023-0.054l0.013,0.064L702.902,228.53z
             M704.193,228.367l-0.031-0.03l0.005,0.026L704.193,228.367z M704.091,228.199l-0.015-0.042l-0.039-0.009L704.091,228.199z
             M702.791,228.182l-0.021-0.035l0.008,0.054L702.791,228.182z M703.708,227.47l-0.002-0.025l-0.002,0.056L703.708,227.47z
             M703.64,227.323l-0.038-0.013l0.015,0.027L703.64,227.323z M703.508,227.051l-0.009-0.032l-0.03,0.009L703.508,227.051z
             M703.065,226.698l-0.027-0.048v0.045L703.065,226.698z M703.086,225.962v-0.036l-0.021,0.048L703.086,225.962z M703.176,225.849
            l0.002-0.059l-0.023,0.058L703.176,225.849z M703.272,225.756l0.063-0.183l-0.086,0.159L703.272,225.756z M703.384,225.419
            l0.009,0.044l0.048-0.033L703.384,225.419z M703.444,225.257l0.008-0.136l-0.036,0.117L703.444,225.257z M703.419,225.055
            l-0.019-0.099l-0.002,0.087L703.419,225.055z M702.815,224.85l-0.031-0.055l0.016,0.056L702.815,224.85z M702.613,224.63
            l-0.013-0.042l-0.025,0.006L702.613,224.63z"/>
          <path id="Mayotte" class="st0" d="M624.846,287.647l0.009-0.18l-0.06,0.068L624.846,287.647z M624.624,287.792l-0.324-0.593
            l0.007,1.025L624.624,287.792z"/>
          <path id="Sao_Tome_and_Principe" class="st0" d="M517.273,247.013l0.459-1.217l-0.617,0.452L517.273,247.013z M519.787,242.14
            l-0.047-0.462l-0.222,0.3L519.787,242.14z"/>

          <path id="Ethiopia" class="st1" d="M600.383,201.875l-0.924,4.928l-1.223,0.129l-1.593,2.659l-0.545,3.46l-0.765-0.484
            l-0.83,1.057l-0.311,6.265l-2.413,0.376l-0.696,1.691l2.026,0.839l2.831,3.114l1.737,4.119l1.455,0.157l0.366,2.238l3.085,0.783
            l3.058,2.421l3.934,0.651l3.481-2.794l1.101,1.095l2.05-0.12l4.931-2.889l3.534-0.033l8.255-9.829l-2.724,0.01l-8.463-3.188
            l-3.358-3.855l-0.558-1.296l0.742-1.172l-3.214-0.018l0.026-2.319l1.499-2.312l-6.299-6.255l-3.369-0.671l-1.56,0.753
            l-1.557-1.477l-0.834,2.476l-0.825-1.108L600.383,201.875z"/>
          <path id="Cameroon" class="st1" d="M526.108,235.743l-0.125-0.012l-0.046,0.087L526.108,235.743z M539.522,206.703l-0.224-0.833
            l-1.188-0.255l0.307,2.171l1.318,0.66l0.028,1.941l-2.316,1.648l-2.745,7.244l-1.506,1.146l-1.059,4.194l-1.451,2.04l-2.037-1.989
            l-2.284,0.846l-2.585,3.041l-0.752,3.267l-0.242,0.897l0.954-0.349l0.37,1.716l2.091,0.733l0.264,4.822l0.601,0.557l3.676-0.002
            l3.312-0.364l2.157,0.379l3.557-0.018l4.224,1.633l0.372-1.796l-0.301-2.147l-3.863-5.466l-0.905-4.475l2.979-4.726l-0.857-3.04
            l-3.505-3.653l0.65-1.087l4.143-0.025l-1.757-2.536l-0.106-4.084L539.522,206.703z"/>
          <path id="Egypt" class="st1" d="M591.125,159.922l-0.302-0.089l0.358,0.267L591.125,159.922z M584.81,148.394l0.005-0.032
            l-0.021-0.015L584.81,148.394z M588.639,148.412l-0.217-0.139l-0.369-0.106L588.639,148.412z M587.857,148.111l-0.265,0.001
            l-0.3,0.202l0.317-0.186l0.431,0.039L587.857,148.111z M566.707,147.265l-0.475-0.46l-0.861,4.665l0.975,2.907l1.168,22.98
            l17.179,0.004l0.469-0.741l0.032,0.741l14.89-0.006l-3.511-3.06l-0.698-3.082l0.905,0.07l-1.961-1.907l-5.055-10.675l-3.732-5.426
            l0.518-1.29l2.189,4.589l2.946,2.617l1.276-5.567l-2.229-5.462l-0.17-0.337l-1.206,0.599l-0.56,0.052l-0.339-0.119l-0.686,0.304
            l0.003-0.137l-0.129-0.288l-1.008,0.507l-1.432-0.806l-0.118,0.675l-1.046-0.623l0.261-0.819l0.887,0.761l-0.829-0.757
            l-2.41-0.223l-5.028,2.458l-4.796-1.746L566.707,147.265z M591.248,162.431l-0.131-0.257l0.103,0.122L591.248,162.431z"/>
          <path id="Kenya" class="st1" d="M614.136,253.804l-0.205-0.254l-0.322,0.41L614.136,253.804z M599.498,232.423l-4.34,0.041
            l-1.078,1.226l1.327,1.747l1.585,5.628l-3.063,5.68l0.03,3.499l10.256,6.321l0.011,1.611l4.391,3.693l2.979-6.358l1.127-0.359
            l0.617-0.995l0.302,0.199l-0.193-0.886l1.187-0.194l0.687-0.897l-1.551-2.563l-0.085-11.713l2.519-3.645l-2.05,0.12l-1.101-1.095
            l-3.481,2.794l-3.934-0.651l-3.058-2.421L599.498,232.423z"/>
          <path id="Liberia" class="st1" d="M468.825,226.78l4.628,4.27l4.514,2.227l0.3-4.711l-3.297-2.118l0.837-1.119l-0.441-2.22
            l-0.531-0.424l-1.254,1.572l-1.053-0.517l0.021-3.121l-2.182-0.448l-3.452,4.948L468.825,226.78z"/>
          <path id="Madagascar" class="st1" d="M636.691,301.229l0.567-1.154l-0.455,0.597L636.691,301.229z M629.793,295.99l0.002-0.05
            l-0.035-0.001l-0.018,0.022l0.019,0.022L629.793,295.99z M633.255,289.593l-0.135-0.702l-0.241,0.617L633.255,289.593z
             M636.274,285.387l-1.79,1.088l0.578,1.23l-0.705,1.917l-1.318,1.207l-1.026-0.671l0.305,1.772l-1.013,0.84l0.778,1.093
            l-0.499-0.512l-1.155,1.606l0.156-1.411l-1.192,1.647l0.127,0.382l0.323,0.34l-0.04,0.113l-0.752,0.347l0.032-1.138l-1.764,1.35
            l0.321,1.082l-0.853-0.832l-4.772,1.524l-1.688,4.104l0.996,7.893l-2.98,4.32l-0.919,3.005l1.484,8.567l3.094,1.913l5.409-2.094
            l9.212-25.661l-0.167-4.034l0.668-0.396l0.739,1.734l0.803-1.267l-0.905-8.051L636.274,285.387z M636.883,287.084l-0.027-0.009
            l0.006-0.043L636.883,287.084z"/>
          <path id="Morocco" class="st1" d="M474.909,143.367l-2.133,4.069l0.342,4.035l-1.4,2.338l-3.654,3.462l-4.703,2.115l12.199,0.001
            l0.067-3.304l4.218-2.935l4.278-0.839l1.686-1.912l3.486-1.459l-0.488-2.288l2.588-1.24l4.466-0.07l0.458-1.257l-1.74-2.384
            l-0.184-4.733l-1.213-1.085l-1.855-0.603l-0.028,0.022l-0.055-0.201l-4.615,0.387l-1.677-2.037l-0.126-0.241l-1.384,0.405
            l-2.561,5.679L474.909,143.367z"/>
          <path id="South_Africa" class="st1" d="M580.89,317.403l-1.425-0.006l-3.005,1.321l-3.827,3.621l-0.388,1.624l-2.729,1.522
            l-1.131,2.961l-2.288,0.476l-4.443-1.675l-1.179,2.576l-2.712,2.389l-2.773-0.115l0.59-2.997l-2.065-3.546l-0.512,11.595
            l-2.439,1.712l-2.546-0.17l-2.052-0.617l-0.83-2.17l-1.621,1.741l4.305,10.471l-0.092,2.312l-1.221,0.653l1.418,2.778l-0.21,1.898
            l1.071-0.689l0.008,0.928l3.034,1.42l6.914-2.609l8.357,0.086l0.131-0.842l2.14-0.044l3.833-2.262l6.153-5.56l3.999-5.969
            l3.088-2.7l1.76-5.359l-2.051-0.024l-0.503,1.511l-2.211-0.359l-0.844-1.245l0.332-1.603l1.278-1.757l1.691,0.655l0.423-4.753
            l-1.617-6.48L580.89,317.403z M576.102,337.744l2.178,2.116l-0.86,2.008l-2.186,0.778l-0.92,1.547l-1.322-0.775l-1.306-2.463
            L576.102,337.744z"/>
          <path id="Tunisia" class="st1" d="M528.166,140.148l-0.724-0.416l0.395,0.77L528.166,140.148z M528.252,137.308l-0.276-0.047
            l0.2,0.121L528.252,137.308z M528.44,137.197l0.421-0.41l-0.191-0.057L528.44,137.197z M527.279,129.324l0.015-0.019l-0.06-0.004
            L527.279,129.324z M524.757,129.26l-0.474-0.641l-2.705,1.281l-1.109,1.348l0.348,6.049l-1.947,2.415l2.382,4.294l1.921,1.369
            l1.448,5.888l1.772-1.567l0.107-3.04l3.339-2.363l-0.193-2.307l-0.948-0.126l-0.371-1.289l-1.91-0.265l-0.913-1.485l2.847-3.42
            l-1.878-2.859l1.492-2.997l-1.755,1.06l-0.394-1.496L524.757,129.26z M522.293,128.061l0.067-0.088l-0.126,0.039L522.293,128.061z
            "/>
          <path id="Burkina_Faso" class="st1" d="M491.121,212.206l6.168,0.286l1.305-0.719l2.973,0.45l1.438-1.466l1.613,0.115l1.063-1.501
            l-0.716-2.53l-1.568,0.204l-1.639-1.322l0.006-1.028l0.816,0.069l-1.898-1.122l-1.02-3.838l-2.661-0.531l-3.484,1.927
            l-0.074,0.909l-1.297-0.316l-1.128,2.003l-1.05-0.13l-0.506,1.68l-1.458-1.069l-1.041,1.211l-0.234,2.601l-2.386,1.448
            l-0.707,4.461l2.263,2.339l2.987-0.812l2.639,1.498L491.121,212.206z"/>
          <path id="Zimbabwe" class="st1" d="M590.124,301.784l0.061-1.762l-4.622-2.188l-2.362-0.03l0.027-1.196l-4.161,1.079l-0.534,1.838
            l-2.632,1.29l-2.295,3.17l-4.875-0.498l2.281,5.468l2.828,1.787l0.134,1.278l1.168,0.036l0.69,3.357l2.832,0.735l0.801,1.249
            l1.425,0.006l3.81,0.698l3.433-3.391l0.152-2.363l1.521-2.076l-0.727-3.165l1.12-1.887L590.124,301.784z"/>
          <polygon id="Reunion" class="st1" points="656.814,307.72 655.947,309.243 657.433,309.658 658.175,307.72     "/>
          <polygon id="Mauritius" class="st1" points="662.013,306.395 661.27,307.241 661.641,308.339 662.508,308.339 663.498,307.367    
            "/>
        </g>
        <text x="545" y="210" font-family="sans-serif" font-size="20px" fill="red">{{articleCount}}</text>       
        <ForeignObject><h3 onclick={{action "someAction"}}>Fire action on click</h3>
        </ForeignObject>
        <ForeignObject>{{cont-modal isModalOpen=isModalOpen contTitle="Africa" articles=articles}}</ForeignObject>
        <ForeignObject width="200px" height="200px" x="545" y="210">
          <div class="hover-container">
            <h1>Hover Box</h1>
            <h3>{{articles.first.title}}</h3>
          </div>
        </ForeignObject>