{{#if isModalOpen}}
  {{#md-modal close='close' class="article-modal"}}
      <div class="modal-content">
          <h4>Hello {{contTitle}}!</h4>
          
          <h5> Recent Articles: </h5>
          <ul>
            {{#each articles as |article|}}
              <li>{{#link-to "articles.show" article}}{{article.title}}{{/link-to}}</li>
            {{/each}}
          </ul>
      </div>
      <div class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'close'}}>
              Cancel
          </a>
      </div>
    {{/md-modal}}
{{/if}}