{{#if isModalOpen}}
  {{#md-modal close='close' class="test-modal"}}
      <div class="modal-content">
          <h4>Ohai there {{contTitle}}!</h4>
          <p>Star ember-cli-materialize if you love it on 
          <a href="https://github.com/truenorth/ember-cli-materialize">github</a>!
          </p>
      </div>
      <div class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'close'}}>
              Cancel
          </a>
      </div>
    {{/md-modal}}
{{/if}}