{{#md-navbar homeRoute="articles" name="Example" class="ingigo"}}
{{#if authManager.currentUser}}
  <a>Logged in as {{authManager.currentUser.email}}
  </a>
   <a {{action 'invalidateSession'}}>Logout</a>
{{else}}
  Not logged in
{{/if}}
{{/md-navbar}}