{{#md-navbar homeRoute="articles" name="Tell-o World" class="ingigo"}}
{{#if authManager.currentUser}}
  <a>{{authManager.currentUser.email}}
  </a>
  {{#link-to 'locations'}}Locations{{/link-to}}
  {{#link-to 'articles'}}Articles{{/link-to}}
  {{#link-to 'favourites'}}Favourites{{/link-to}}
  {{#link-to 'users'}}Users{{/link-to}}
  <a {{action 'invalidateSession'}}>Logout</a>
{{else}}
  Not logged in
{{/if}}
{{/md-navbar}}