<g id="SouthAmerica">
          <path id="Falkland_Islands" class="st0" d="M356.36,411.758l-0.058-0.212l-0.169-0.008l0.095,0.314L356.36,411.758z
             M359.204,411.306l-0.104-0.315l-0.206,0.104L359.204,411.306z M352.275,410.61l-0.052-0.205l-0.207,0.084L352.275,410.61z
             M352.735,410.624l0.149-0.21l-0.447,0.148l0.735,0.166L352.735,410.624z M352.16,410.107l-0.269-0.019l0.019,0.123
            L352.16,410.107z M356.616,409.227l-1.978-0.093l-0.148,0.35l-1.377-0.424l1.482,0.932l-1.073,0.185l1.138,0.112l-1.584,0.921
            l1.574,0.295L356.616,409.227z M357.775,409.001l-1.611,2.387l1.127,0.673l-0.462-0.614l0.993,0.009l-0.76-0.424l1.606,0.192
            l-0.987-0.806l2.785-0.334l-1.132-0.421l0.899-0.047l-0.529-0.494l-0.841,0.125l0.374,0.722L357.775,409.001z M354.809,409.045
            l0.02-0.146l-0.292-0.016L354.809,409.045z M354.446,409.211l-0.003-0.298l-0.598-0.11L354.446,409.211z M355.823,409.004
            l-0.007-0.222l-0.794,0.015L355.823,409.004z"/>
          <path id="Guyana" class="st0" d="M335.783,225.215l0.348-0.189l-0.237-0.04L335.783,225.215z M332.199,220.639l-0.538-0.615
            l0.425,0.948l-2.572,2.22l1.152,1.516l-2.396,1.097l-0.788,2.443l1.778,2.33l1.768-0.039l-0.193,2.217l1.309,0.408l0.265,1.551
            l-1.252,3.821l0.927,3.05l2.322,1.729l4.174-2.503l2.389,0.098l-2.253-4.541l-0.955,0.067l-1.091-2.066l0.406-2.578l1.682-0.647
            l0.257-1.458l0.192-2.096l-3.046-2.368l-0.97,1.485l0.574-2.928L332.199,220.639z"/>
          <path id="French_Guiana" class="st0" d="M349.514,229.413l-1.231-0.546l-0.666,1.261l-0.912,1.899l1.248,4.118l-1.743,3.547
            l4.735,0.423l3.524-5.826l-0.426-1.962l-0.551,1.02l-0.645-1.921L349.514,229.413z"/>
          <path id="Suriname" class="st0" d="M344.969,228.621L343,228.195l-0.2,0.902l-2.971-1.03l-0.814,1.619l-0.257,1.458l-1.682,0.647
            l-0.406,2.578l1.091,2.066l0.955-0.067l2.253,4.541l1.583,0.163l-0.145-2.027l3.802,0.645l1.743-3.547l-1.248-4.118l0.912-1.899
            l0.42-1.503L344.969,228.621z"/>
          <path id="Venezuela" class="st0" d="M328.836,219.98l-0.208-0.195l-0.53,0.32L328.836,219.98z M328.722,219.725l-0.33-0.071
            l-0.055,0.169L328.722,219.725z M328.74,219.691l0.309-0.247l-0.684,0.123l0.083,0.079L328.74,219.691z M329.34,219.661
            l-0.028-0.249l-0.424,0.293L329.34,219.661z M328.934,219.419l0.338-0.404l-0.511,0.102l-0.372,0.405L328.934,219.419z
             M328.691,218.891l0.644-0.637l-0.621,0.37l-0.105,0.272L328.691,218.891z M329.277,218.207l0.03-0.269l-0.281,0.401
            L329.277,218.207z M329.679,217.96l-0.257-0.048l-0.063,0.269L329.679,217.96z M325.411,216.156l0.124-0.321l-0.093-0.245
            L325.411,216.156z M324.49,214.423l-0.362-0.558l-0.012,0.202L324.49,214.423z M321.048,213.07l0.009-0.152l-0.247-0.078
            L321.048,213.07z M317.282,212.59l0.17-0.238l-0.577,0.099L317.282,212.59z M321.381,212.145l-0.187-0.493l-1.496,0.664
            L321.381,212.145z M313.597,209.809l0.175-0.041l-0.058-0.157L313.597,209.809z M315.081,209.761l0.03-0.165l-0.236,0.026
            L315.081,209.761z M319.381,209.66l-0.103-0.285l-0.093,0.224L319.381,209.66z M304.898,210.007l-0.613-1.582l-0.7,1.786
            l1.191-0.187l-0.006,0.834l-4.816,1.482l0.959,5.129l-1.615,0.949l-1.299-2.444l1.689-2.856l-0.931-2.666l1.85-0.942l-1.853,0.596
            l-0.727,1.315l-0.814,0.408l-2.802,6.178l1.654,0.289l1.125,3.121l-0.488,1.913l1.258,1.499l5.247,0.136l2.342,2.835l5.015-0.354
            l-1.288,5.18l1.499,3.68l-1.543,1.814l1.754,1.371l0.847,3.71l1.556,1.493l2.027-0.756l0.191,1.076l5.999-4.759l0.103-0.849
            l-1.91-0.201l-0.339-3.524l-1.638-2.177l2.144,1.253l1.893-0.238l1.28,1.27l0.395-1.496l4.961-1.547l1.167-1.35l-0.4-0.818
            l-1.778-2.33l0.788-2.443l2.396-1.097l-1.152-1.516l2.572-2.22l-0.425-0.948l-2.538-0.149l-0.501,0.575l-1.446-0.489l1.093-0.129
            l0.356-1.165l0.441-0.685l-0.379,0.245l0.859-0.643l-0.168-0.43l-2.088-1.474l-0.367,0.984l-1.195-1.332l-0.116,1.209l0.067-0.859
            l-0.356,0.636l-0.533-1.576l-0.214-0.065l-0.031,0.422l-0.535,0.257l-0.577-0.283l1.086-0.032l-0.385-0.925l-0.627,0.406
            l0.272-0.812l2.911-0.65l-6.628,0.227l1.536,0.558l-3.921,1.347l-3.122-1.843l-5.385,0.46l-0.601-2.165L304.898,210.007z
             M328.403,216.694l-0.327-0.193l-0.225-0.263L328.403,216.694z"/>
          <path id="Colombia" class="st0" d="M280.409,239.146l0.086-0.122l-0.094-0.328l-0.172,0.008l-0.078,0.199L280.409,239.146z
             M280.79,239.014l0.074-0.047l0.038-0.224l-0.08-0.077l-0.195,0.218L280.79,239.014z M281.153,238.917l0.199-0.062l-0.368-0.32
            L281.153,238.917z M281.399,238.859l0.058-0.075l-0.212-0.282l-0.158-0.042l0.121,0.244L281.399,238.859z M281.996,237.345
            l0.118-0.445l-0.38,0.423L281.996,237.345z M282.418,234.16l-0.116-0.412l-0.119,0.117L282.418,234.16z M282.164,233.783
            l0.63-0.185l-0.29-0.263L282.164,233.783z M300.067,207.606l-5.024,3.67l-2.416-0.114l-0.769,1.864l-0.536-0.428l0.869-0.394
            l-1.569-0.39l-1.202,1.037l-1.242,4.261l-3.763,2.805l0.387,2.058l-1.593-2.396l0.311,2.338l-1.058,1.305l-0.455-0.624
            l-0.467,1.563l1.45,2.095l-0.465,1.195l0.646,1.393l-0.84,0.737l0.485,0.882l-0.193,2.848l0.398,0.26l-0.567,0.734l1.124,0.35
            l-2.097,4.161l-0.147,0.118l-0.21,0.023l-0.197-0.3l-0.031,0.303l-0.11,0.117l-0.39,0.113l-0.388-0.102l-0.225,0.261l-0.267-0.231
            l-0.354,0.254l-0.09,2.092l-1.32,0.445l0.674,0.604l0.603,0.617l3.373,2.72l3.181-0.034l2.677,1.633l1.425,0.268l1.553,2.61
            l1.889,1.087l1.944,3.599l3.292-1.139l3.965,1.135l0.633,0.794l-1.763,3.246l2.184,1.449l1.439-9.186l-0.662-2.6l-1.265-1.141
            l0.043-2.371l2.575-0.172l-0.398-1.246l-1.601-0.107l0.012-2.023l4.739-0.043l-0.11-0.803l0.778,0.736l1.391-1.263l0.934,3.076
            l0.575-0.153l-0.847-3.71l-1.754-1.371l1.543-1.814l-1.499-3.68l1.288-5.18l-5.015,0.354l-2.342-2.835l-5.247-0.136l-1.258-1.499
            l0.488-1.913l-1.125-3.121l-1.654-0.289l2.802-6.178l0.814-0.408l0.727-1.315l1.853-0.596l0.631-0.786L300.067,207.606z
             M279.218,239.415l-0.024,0.03l0.011-0.085l0.017,0.003L279.218,239.415z M271.868,207.488l0.086-0.318l-0.097,0.13
            L271.868,207.488z M273.038,204.851l0.047-0.176l-0.11,0.138L273.038,204.851z"/>
          <path id="Ecuador" class="st0" d="M274.651,256.688l0.789-0.998l-0.849,0.014L274.651,256.688z M275.614,255.444l-0.062-0.555
            l-0.074,0.508L275.614,255.444z M279.029,243.132l-0.603-0.617l-3.519,1.93l-0.035,2.427l-1.212,1.364l0.668,0.823l-1.799,1.28
            l0.121,4.086l1.801,1.318l1.332-2.305l-0.208,1.164l0.346,0.717l-0.572,1.887l-1.083,0.577l0.568,1.596l-0.868,0.326l0.043,1.432
            l2.287-0.019l1.723,1.826l0.923-1.345l0.931-3.682l4.628-2.696l3.026-3.289l0.941-1.803l-1.166-2.714l0.958,0.034l-2.677-1.633
            l-3.181,0.034L279.029,243.132z M278.131,243.145l-0.241-0.114l0.271-0.294L278.131,243.145z"/>
          <path id="Paraguay" class="st0" d="M350.924,325.279l-0.445-2.418l-2.73,0.126l-1.684-5.284l-5.905-0.624l0.154-3.548
            l-1.166-2.547l-0.072-1.077l-2.73-1.518l-7.2,0.938l-1.703,8.218l4.981,4.989l9.334,4.324l0.622,1.182l-2.098,5.607l7.819,0.389
            l2.427-3.176l-0.038-2.745L350.924,325.279z"/>

          <path id="Argentina" class="st1" d="M338.496,419.737l-0.18-0.259l0.096,0.251L338.496,419.737z M349.515,419.258l-2.075,0.31
            l0.271,0.216L349.515,419.258z M336.822,414.015l-1.288-1.048l2.761,6.462l5.469,0.788l2.395-0.366l0.153-0.831l-6.016-1.868
            l-3.832-2.407L336.822,414.015z M338.767,371.637l-0.111-0.329l-0.57-0.159L338.767,371.637z M338.324,371.078l0.009-0.128
            l-0.399-0.026L338.324,371.078z M318.9,317.141l-1.409-1.049l-2.283,3.299l0.563,0.574l-0.548,3.229l-3.059,2.387l0.721,1.087
            l-0.019,4.404l0.997,1.301l-1.32,0.651l-1.628,4.059l-0.511,2.866l1.057,2.794l-1.259,3.148l2.493,6.271l1.009,0.662l0.511,2.718
            l-1.24,3.24l1.064,2.862l-1.43,2.281l2.397,5.559l-1.188,1.127l-0.16,2.113l0.43,3.607l1.93,4.218l-0.839,0.591l0.733,2.208
            l1.212,0.548l0.942,3.623l2.059,0.515l-0.161,0.8l-2.034-0.095l2.523,1.611l-0.823,1.096l1.406,3.186l-0.521,0.423l0.632,1.259
            l-0.935,0.77l0.083,1.4l1.101,1.303l-0.135,1.432l-1.603,2.267l2.542,3.735l1.976-0.317l0.851,2.639l1.805,1.467l4.579,0.002
            l4.205,1.158l-2.251-2.288l-1.501,0.003l1.486-0.158l-1.262-1.841l-0.412,0.328l0.295-2.112l1.099-0.741l-1.714-0.414l2.676-0.08
            l-0.306-2.936l3.241-3.319l-1.232-0.317l0.809-0.317l-0.361-1.763l-2.774-0.613l-2.264-1.651l-0.669-1.419l0.828-2.298
            l3.132-0.736l-0.513-0.92l0.718-1.238l-0.821-2.02l1.978-2.023l-1.995-0.997l1.291-0.462l1.137,1.148l1.042-0.816l-0.908-1.637
            l-1.473,1.091l-1.757-1.086l-1.432-3.847l3.792,0.988l3.303-0.819l0.3-0.848l-1.061-1.033l0.444-2.503l-0.677-0.541l0.7,0.136
            l-1.39-1.847l3.49,0.63l6.873-1.634l1.649-1.13l1.543-3.974l-0.581-1.881l-1.894-1.148l0.092-2.069l-3.865-2.503l-0.068-1.544
            l-0.716-1.714l0.032-1.332l0.717-0.143l-0.482-1.903l0.131-5.373l0.247-1.778l4.06-6.197l4.854-3.478l-0.675-4.594l-2.038-0.342
            l0.038,2.745l-2.427,3.176l-7.819-0.389l2.098-5.607l-0.622-1.182l-9.334-4.324l-4.981-4.989l-0.536-0.767l-3.093,0.012
            l-0.768,2.765l-0.943-2.088l-1.681-0.38L318.9,317.141z"/>
          <path id="Bolivia" class="st1" d="M320.423,317.087l1.681,0.38l0.943,2.088l0.768-2.765l3.093-0.012l0.536,0.767l1.703-8.218
            l7.2-0.938l2.73,1.518l0.072,1.077l0.801-0.6l-0.814-0.752l1.242-4.872l-0.771-1.936l-1.895-1.09l-0.049-3.074l-5.074-0.051
            l-1.42-3.694l0.865-0.012l-0.868-4.077l-1.641-0.995l-2.197,0.164l-3.626-2.835l-3.703-0.597l-1.747-1.437l-1.249-2.35
            l-0.221-4.971l-3.459,0.663l-5.229,3.8l-2.77-0.491l2.787,4.912l-0.758,1.168l0.641,4.213l-1.272,1.912l0.752,1.405l-0.688,1.18
            l1.863,2.287l-1.942,2.773l0.418,0.921l0.085,0.413l1.262,1.278l0.773,3.221l1.414,1.188l-0.565,3.094l1.85,2.82l1.371,4.851
            l1.893-0.02l2.283-3.299l1.409,1.049L320.423,317.087z"/>
          <path id="Brazil" class="st1" d="M367.692,335.245l0.204-1.371l-0.253,0.133L367.692,335.245z M367.118,330.711l0.045-0.712
            l-0.416,0.452L367.118,330.711z M367.645,327.838l0.026-0.467l-0.186,0.235L367.645,327.838z M368.611,326.381l0.669-0.772
            l-0.539,0.369L368.611,326.381z M372.677,323.091l-0.127-0.188l-0.248,0.064L372.677,323.091z M375.792,322.559l0.055-0.048
            l-0.088-0.027L375.792,322.559z M375.524,322.426l-0.565,0.474l0.616,0.085L375.524,322.426z M378.472,320.508l-0.406-0.327
            l-0.361,0.32L378.472,320.508z M390.989,290.408l-0.015-0.278l-0.219,0.018L390.989,290.408z M390.904,290.051l0.057-0.561
            l-0.361,0.039l0.001,0.204l0.218,0.116l-0.047,0.202H390.904z M391.353,288.626l0.438-0.398l-0.155-0.302L391.353,288.626z
             M395.646,282.34l0.249-0.561l-0.29,0.495L395.646,282.34z M401.633,269.487l0.019-0.078l-0.061,0.074L401.633,269.487z
             M401.684,269.271l-0.016-0.034l-0.008,0.062L401.684,269.271z M374.202,256.604l-0.009-0.383l-0.121,0.274L374.202,256.604z
             M374.27,256.745l0.272-1.085l-0.258,0.291L374.27,256.745z M381.353,255.823l-0.055-0.24l-0.322-0.026L381.353,255.823z
             M376.741,254.445l0.216-0.204l-0.344,0.278L376.741,254.445z M356.659,253.127l-0.799-0.261l0.454,0.523L356.659,253.127z
             M361.806,252.868l-0.091-0.342l-0.28,0.434L361.806,252.868z M361.981,252.762l0.157-0.693l-0.397,0.406L361.981,252.762z
             M374.034,252.218l-0.17-0.199l-0.195,0.184l0.014,0.155l0.326-0.019L374.034,252.218z M353.4,252.079l0.307-0.202l-0.324-0.243
            l-0.474,0.656L353.4,252.079z M352.297,251.912l0.696-0.378l-0.733,0.184L352.297,251.912z M362.889,251.777l-0.07-0.345
            l-0.108,0.232L362.889,251.777z M363.191,251.904l-0.081-0.504l-0.108,0.241L363.191,251.904z M373.092,251.514l0.295-0.377
            l-0.265-0.068L373.092,251.514z M371.281,251.338l0.016-0.695l-0.17,0.741L371.281,251.338z M363.703,250.915l0.047-0.43
            l-0.251-0.006l-0.148,0.278L363.703,250.915z M368.854,250.305l0.165-0.044l-0.049-0.373l-0.255,0.265l0.043,0.143
            L368.854,250.305z M356.287,249.817l-0.542,0.714l0.314-0.171l0.141-0.146l0.018-0.229l0.256-0.158L356.287,249.817z
             M355.208,250.917l0.379-0.221l0.096-0.958l-0.125,0.58l-0.319,0.332l-0.101,0.23L355.208,250.917z M356.474,249.749l0.215-0.371
            l-0.224,0.004L356.474,249.749z M364.829,249.376l0.164-0.172l-0.158-0.115l-0.107,0.137l0.054,0.165L364.829,249.376z
             M365.576,249.319l0.085-0.28l-0.079-0.15l-0.149,0.212l0.063,0.235L365.576,249.319z M355.884,250.112l0.879-1.227l-0.711,0.387
            L355.884,250.112z M356.105,249.16l0.071-0.312l-0.204,0.232L356.105,249.16z M353.742,251.751l1.164-0.749l0.588-0.717
            l0.34-1.092l-0.145-0.445l-0.51,0.039l-0.635,0.61l-0.141,1.107l-0.621,0.303l-0.182,0.798L353.742,251.751z M355.118,248.785
            l0.458-0.274l-0.481,0.143L355.118,248.785z M356.363,248.87l0.507-0.582l-0.284,0.004L356.363,248.87z M355.945,248.783
            l0.449-0.59l-0.247-0.224L355.945,248.783z M356.505,248.136l0.052-0.141l-0.382-0.135L356.505,248.136z M359.847,247.793
            l-2.644,0.163l-0.381,2.195l0.693,0.308l-0.645,0.262l-0.056,0.915l0.642,1.142l3.945-0.592l1.496-1.741l0.702-2.457
            L359.847,247.793z M356.796,248.209l0.152-0.419l-0.445,0.417L356.796,248.209z M355.181,248.608l0.679-0.632l0.096-0.519
            L355.181,248.608z M357.485,247.27l-1.316,0.512l0.475,0.187L357.485,247.27z M356.52,247.222l0.572-0.226l-0.37-0.117
            L356.52,247.222z M360.372,247.498l0.067-0.65l-0.982,0.428L360.372,247.498z M357.768,247.144l-0.026-0.537l-0.499-0.077
            L357.768,247.144z M360.063,246.351l-2.118,0.374l1.141,0.576L360.063,246.351z M358.364,246.344l0.447-0.287l-0.281-0.013
            L358.364,246.344z M357.878,246.403l0.122-1.301l-0.458,1.253L357.878,246.403z M358.38,245.96l0.49-0.936l-0.686,0.443
            L358.38,245.96z M359.031,244.277l-0.541,0.008l-0.19,0.404L359.031,244.277z M358.946,244.269l-0.013-0.107l-0.145-0.009
            L358.946,244.269z M359.026,244.108l0.175-0.378l-0.356,0.232L359.026,244.108z M357.966,241.109l0.122-0.746l-0.42,0.291
            L357.966,241.109z M357.754,240.354l0.198-0.234l-0.312-0.03L357.754,240.354z M331.028,230.538l-1.768,0.039l0.4,0.818
            l-1.167,1.35l-4.961,1.547l-0.395,1.496l-1.28-1.27l-1.893,0.238l-2.144-1.253l1.638,2.177l0.339,3.524l1.91,0.201l-0.103,0.849
            l-5.999,4.759l-0.191-1.076l-2.027,0.756l-1.556-1.493l-0.575,0.153l-0.934-3.076l-1.391,1.263l-0.778-0.736l0.11,0.803
            l-4.739,0.043l-0.012,2.023l1.601,0.107l0.398,1.246l-2.575,0.172l-0.043,2.371l1.265,1.141l0.662,2.6l-1.439,9.186l-2.27-0.287
            l-5.742,3.1l-0.618,4.191l-1.681,1.362l-0.66,2.106l3.124,4.569l-0.606,1.343l2.353,0.276l0.704,1.617l2.353-0.026l2.095-1.801
            l-0.059,5.011l2.949-0.184l2.77,0.491l5.229-3.8l3.459-0.663l0.221,4.971l1.249,2.35l1.747,1.437l3.703,0.597l3.626,2.835
            l2.197-0.164l1.641,0.995l0.868,4.077l-0.865,0.012l1.42,3.694l5.074,0.051l0.049,3.074l1.895,1.09l0.771,1.936l-1.242,4.872
            l0.814,0.752l-0.801,0.6l1.166,2.547l-0.154,3.548l5.905,0.624l1.684,5.284l2.73-0.126l0.445,2.418l-0.435,2.835l2.038,0.342
            l0.675,4.594l-4.854,3.478l-4.06,6.197l2.101-0.251l2.638,3.076l1.026-0.738l5.119,3.541l2.49,2.408l-0.922,1.324l0.715,1.882
            l1.631-1.94l0.892-5.657l1.604-1.716l-0.38-2.48l1.13,1.293l0.757-0.723l0.229,0.842l-1.367,3.201l-2.062,1.111l0.21,1.107
            l3.012-3.45l1.933-5.404l2.302-2.682l0.307-4.155l-1.242-3.63l0.635,0.358l-0.608-0.952l1.019-0.963l-1.018-0.481l1.552-0.484
            l-0.154,0.601l0.365-1.417l4.17-3.636l2.624-0.119l2.182-1.505l-0.305-0.976l3.938-0.162l0.317-1.041l0.019,0.908l2.885-0.113
            l0.621-1.816l2.094-1.134l-0.119-2.383l2.879-5.079l0.176-4.465l1.319-1.71l-0.302-1.7l0.716-4.035l-0.726-3.899l0.305-2.308
            l-0.293,0.825l0.144-1.567l-0.344-0.453l0.046-0.51l0.277,0.008l0.58-1.602l-0.509-0.535l0.567-0.405l0.617,1.401l1.197-1.226
            l2.274-5.972l0.384,0.593l1.709-1.405l2.959-4.159l1.266-4.908l-1.856-7.658l-4.926-0.938l-7.986-6.567l-3.494,0.561l-5.899-2.084
            l-2.759,1.472l0.757-1.345l-0.817,0.383l-0.162,1.278l-1.007,1.165l0.54-2.347l0.614-0.691l-0.83-0.025l0.452-1.11l-0.14-0.471
            l-0.437-0.046l-0.295-0.357l-0.063-0.401l-0.366,0.074l0.251-0.559l-1.356,0.998l0.048-1.353l-0.374,0.736l0.037-0.744
            l-0.696,0.188l-0.114-0.603l-0.324,0.291l-0.348-0.624l-0.189,0.429l-0.606-0.085l0.186-0.717l-0.716,0.271l-0.245-0.034
            l-0.062-0.105l-0.129,0.096l-0.614-1.004l-0.36,0.619l-0.013-0.645l-1.336-0.386l0.108,0.73l-0.418-0.558l-0.515,0.385
            l-0.065-0.389l-0.579,0.444l-0.291-0.204l-0.645,0.742l-0.103,1.151l-0.413-0.02l-0.063,0.496l0.892,0.043l-0.641,0.087
            l-0.043,0.514l-0.752-0.61l-2.181,3.473l0.529-2.715l-3.882,0.324l-0.065,1.3l-0.782-0.489l0.403,1.402l-1.319-2.361l-0.386,1.616
            l0.3-1.986l1.887,0.383l-0.437-1.04l-0.128-1.667l-0.375,0.037l-0.047,0.076l0.047,0.157l-0.736,0.696l-2.65,1.501l-1.414-0.281
            l1.337-0.818l0.464,0.237l0.387-0.261l0.019-0.543l0.578-0.443l0.03-0.869l1.23-1.932l3.805-4.161l-0.609-0.139l0.55-1.565
            l-1.438-0.373l-0.644-1.074l-1.058-5.536l-1.225-1.52l0.225,1.327l-0.657-0.195l-3.524,5.826l-4.735-0.423l-3.802-0.645
            l0.145,2.027l-1.583-0.163l-2.389-0.098l-4.174,2.503l-2.322-1.729l-0.927-3.05l1.252-3.821l-0.265-1.551l-1.309-0.408
            L331.028,230.538z"/>
          <path id="Peru" class="st1" d="M278.943,261.601l-0.923,1.345l-1.723-1.826l-2.287,0.019l-0.043-1.432l0.868-0.326l-0.568-1.596
            l-2.569,2.946l1.316,4.253l-0.795,1.377l3.415,2.148l2.978,4.635l4.273,9.714l4.532,6.738l-0.424,1.52l1.483,2.409l2.688,2.571
            l10.379,5.793l3.348,3.333l1.219-0.335l1.015-2.337l-0.418-0.921l1.942-2.773l-1.863-2.287l0.688-1.18l-0.752-1.405l1.272-1.912
            l-0.641-4.213l0.758-1.168l-2.787-4.912l-2.949,0.184l0.059-5.011l-2.095,1.801l-2.353,0.026l-0.704-1.617l-2.353-0.276
            l0.606-1.343l-3.124-4.569l0.66-2.106l1.681-1.362l0.618-4.191l5.742-3.1l2.27,0.287l-2.184-1.449l1.763-3.246l-0.633-0.794
            l-3.965-1.135l-3.292,1.139l-1.944-3.599l-1.889-1.087l-1.553-2.61l-1.425-0.268l-0.958-0.034l1.166,2.714l-0.941,1.803
            l-3.026,3.289l-4.628,2.696L278.943,261.601z"/>
          <path id="Uruguay" class="st1" d="M344.041,344.503l-0.131,5.373l0.685,1.533l-0.172,0.53l-0.555,0.099l0.363,2.529l1.831,1.802
            l1.891-0.104l2.377,1.434l5.605-0.766l1.519-2.968l-0.715-1.882l0.922-1.324l-2.49-2.408l-5.119-3.541l-1.026,0.738l-2.638-3.076
            l-2.101,0.251L344.041,344.503z"/>
          <path id="Chile" class="st1" d="M342.351,422.536l-0.178,0.218l-0.641-0.158L342.351,422.536z M343.088,422.728l-0.549-0.183
            l0.382-0.012L343.088,422.728z M343.415,422.799l-0.258-0.129l0.057-0.215L343.415,422.799z M343.051,422.409l-0.167,0.012
            L343,422.33L343.051,422.409z M342.73,422.215l-0.682-0.027l0.281-0.41L342.73,422.215z M341.53,421.926l-0.07-0.366l0.281,0.116
            L341.53,421.926z M336.677,421.294l-0.275-0.223l0.358,0.133L336.677,421.294z M335.923,421.15l-0.376-0.204l0.37-0.026
            L335.923,421.15z M343.13,421.055l-0.538-0.168l0.393-0.141L343.13,421.055z M343.775,420.913l-0.239-0.254l0.473-0.015
            L343.775,420.913z M342.985,420.416l-0.749-0.346l0.522,0.071L342.985,420.416z M339.083,419.941l-1.422,0.292l2.265,0.621
            l-1.238,0.018l1.536,0.381l0.668,0.936l-2.402-0.754l-0.051-0.809l-1.498-0.08l1.074,1.046l-2.49-1.062L339.083,419.941z
             M340.47,419.821l1.985,0.649l-2.298,0.3l-1.019-0.874L340.47,419.821z M334.159,419.972l-0.465,0.135l1.236,0.301l-1.962-0.447
            l1.561-0.185L334.159,419.972z M335.998,420.177l-0.587-0.417l1.871,0.177L335.998,420.177z M332.624,419.679l0.528,0.157
            l-1.328-0.118L332.624,419.679z M333.834,419.777l-0.361-0.091l0.82-0.008L333.834,419.777z M330.152,418.969l0.365,0.329
            l-0.523-0.265L330.152,418.969z M329.107,418.172l-0.279,0.182l-0.305-0.266L329.107,418.172z M333.743,417.892l-0.696-0.344
            l0.777,0.198L333.743,417.892z M331.174,417.293l0.62,0.08l0.135,0.846l-1.679-0.671L331.174,417.293z M328.92,417.839
            l-0.521-0.166l0.311-0.394l0.329,0.23L328.92,417.839z M326.687,417.451l-0.73-0.169l0.475-0.111L326.687,417.451z
             M330.018,416.895l-0.562,0.227l0.695,0.962l-1.519-1.197L330.018,416.895z M332.804,416.645l-0.459,0.199l0.762,0.907
            l-1.075-0.534l0.151-1.474L332.804,416.645z M324.426,415.831l-0.251-0.413l0.497,0.206L324.426,415.831z M326.381,415.347
            l0.427,0.761l-0.228-0.674l2.139,1.035l-1.259,1.007l-0.087-0.892l-0.704,0.517l-0.703-0.916l-0.73,0.145L326.381,415.347z
             M325.135,415.484l0.066,0.3l-0.93-0.438L325.135,415.484z M323.212,415.053l-0.168-0.097l0.357-0.171L323.212,415.053z
             M324.433,413.684l0.155,0.227l-0.941-0.182L324.433,413.684z M330.843,413.729l-0.152-0.048l0.311-0.171L330.843,413.729z
             M322.277,413.896l-1.182-0.581l4.759,1.806L322.277,413.896z M332.842,419.19l0.304-0.082l-0.225,0.016L332.842,419.19
            l-2.886-0.734l4.512,0.256l-2.326-1.245l2.134,0.884l-0.288-0.337l0.252-0.201l1.087,0.925l-0.58-0.823l1.672,0.49l0.005,0.72
            l0.324-0.317l0.237-0.446l-3.635-1.857l1.346-1.393l-2.56,0.051l-0.465-1.072l0.677-0.328l-0.945-0.396l1.277,0.16l0.708-1.113
            l2.149,0.556l2.761,6.462l0.021,0.049l0.096,0.251L332.842,419.19z M323.247,413.139l-0.77-0.277l0.523-0.615L323.247,413.139z
             M320.501,411.983l-0.314-0.265l0.45-0.066L320.501,411.983z M322.834,412.227l-1-0.714l0.864,0.31L322.834,412.227z
             M321.558,411.436l0.892,0.609l-1.425-0.599L321.558,411.436z M320.269,411.593l-0.146-0.203l0.387-0.145L320.269,411.593z
             M321.079,411.256l-0.149-0.091l0.136,0.027L321.079,411.256z M320.239,411.286l0.178-0.485l0.194,0.09L320.239,411.286z
             M322.894,411.755l-1.389-0.968l0.98,0.442L322.894,411.755z M319.96,411.444l-0.137-0.928l0.363,0.02L319.96,411.444z
             M319.094,410.722l-0.174-0.491l0.213-0.051L319.094,410.722z M321.425,410.873l-1.184-0.721l1.207,0.489L321.425,410.873z
             M322.082,410.471l-0.552-0.475l0.439,0.2L322.082,410.471z M319.725,410.479l-0.048,0.901l-0.557-1.443L319.725,410.479z
             M321.107,409.663l0.586,0.707l-0.828-0.257L321.107,409.663z M318.624,409.181l-0.423,0.727l-0.2-1.021L318.624,409.181z
             M320.825,409.361l-0.55-0.469l0.198-0.045L320.825,409.361z M321.524,409.107l-0.414-0.218l0.245-0.119L321.524,409.107z
             M320.898,409.131l-0.326-0.468l0.335,0.056L320.898,409.131z M319.585,408.826l-0.914,0.577l0.2-0.79L319.585,408.826z
             M318.343,408.515l0.029-0.24l0.248,0.112L318.343,408.515z M319.791,408.61l-0.634-0.4l0.264-0.15L319.791,408.61z
             M320.201,408.73l-0.574-1.002l0.678,0.843L320.201,408.73z M319.37,407.547l0.28,0.701l-0.306-0.281l-0.424,0.349l-0.782-0.447
            L319.37,407.547z M318.703,407.64l-0.851-0.489l0.459-0.089L318.703,407.64z M317.866,407.404l-0.398-0.495l0.236,0.037
            L317.866,407.404z M318.399,406.714l-0.17-0.205l0.266,0.032L318.399,406.714z M317.228,406.493l-0.112,0.825l-0.709-0.376
            L317.228,406.493z M318.969,406.416l0.876,1.093l-0.927-0.353l-0.051-0.642l-0.654-0.135L318.969,406.416z M318.074,406.443
            l-0.18-0.343l0.499-0.021L318.074,406.443z M316.891,405.42l0.606-0.054l-1.344,0.659l0.611-0.362l-0.892-0.645L316.891,405.42z
             M315.63,403.897l0.618,0.712l-1.169-0.367L315.63,403.897z M315.049,403.512l-0.344-0.255l0.251,0.051L315.049,403.512z
             M317.957,403.553l-0.221,0.207l-0.29-0.618L317.957,403.553z M316.098,402.734l-0.961-0.447l0.507-0.368L316.098,402.734z
             M314.963,402.132l-0.76,0.361l0.439-0.715L314.963,402.132z M314.713,401.482l0.296,0.594l-0.316-0.394l-0.32,0.284l-0.517-0.332
            L314.713,401.482z M315.107,401.821l-0.581-0.618l0.674,0.276L315.107,401.821z M315.272,401.026l-0.144-0.29l0.422,0.04
            L315.272,401.026z M314.495,400.935l-0.847,0.169l0.589-0.41L314.495,400.935z M315.038,401.307l-0.39-0.193l0.266-0.424
            L315.038,401.307z M314.261,400.597l-0.575,0.272l-0.379-0.65L314.261,400.597z M316.406,400.368l-0.37-0.405l0.573,0.237
            L316.406,400.368z M317.195,400.108l-0.007,0.139l-0.567-0.355L317.195,400.108z M316.691,400.172l-0.697-0.359l0.378-0.2
            L316.691,400.172z M316.117,399.67l-0.256,0.09l-0.372-0.565L316.117,399.67z M315.833,400.138l2.05,3.945l-0.463,0.993
            l-0.835-1.145l0.256-1.01l-0.684,0.471l0.466,1.206l-1.824-1.751l1.355,0.014l-0.077-0.742l-0.915-0.92l0.955-0.315l-1.269-0.624
            l0.736-0.126l-0.463-1.026L315.833,400.138z M314.059,399.564l0.55,1.365l-1.616-1.935L314.059,399.564z M314.694,399.208
            l0.055,0.892l-0.971-1.147L314.694,399.208z M314.68,398.409l0.046,0.53l-1.022-0.115L314.68,398.409z M316.837,398.372
            l0.309,0.005l-1.681,0.109L316.837,398.372z M313.817,398.257l-0.513-0.234l0.328-0.233L313.817,398.257z M314.175,398.053
            l-0.403-0.275l0.32,0.037L314.175,398.053z M314.696,396.174l-0.18-0.29l0.4-0.064L314.696,396.174z M315.436,396.16l-0.243-0.456
            l0.542,0.069L315.436,396.16z M315.304,393.182l-0.582-0.59l0.634,0.174L315.304,393.182z M315.307,392.617l-0.378-0.091
            l-0.002-0.29L315.307,392.617z M312.528,392.072l-0.647,0.731l-0.292-0.663L312.528,392.072z M315.042,392.043l-0.412,0.411
            l-0.02-0.362L315.042,392.043z M314.35,392.275l-0.375-0.4l0.112-0.16L314.35,392.275z M312.271,391.626l-0.375-0.179
            l-0.031-0.135L312.271,391.626z M312.658,391.778l-0.291-0.37l0.268-0.183L312.658,391.778z M314.203,391.679l-0.455-0.407
            l0.183-0.171l0.383,0.256L314.203,391.679z M313.087,391.847l-0.207-1.035l0.667,0.593L313.087,391.847z M315.095,391.786
            l-0.44-0.275l-0.049-0.698L315.095,391.786z M313.8,390.779l0.553,0.132l-0.71,0.31L313.8,390.779z M312.702,391.107l-0.176-0.032
            l0.212-0.325L312.702,391.107z M314.103,390.782l-0.356-0.104l0.467-0.084L314.103,390.782z M312.96,390.696l-0.58-0.311
            l0.333-0.053L312.96,390.696z M313.718,390.269l0.56,0.209l-1.054-0.261L313.718,390.269z M312.929,390.387l-0.384-0.466
            l0.378,0.184L312.929,390.387z M313.749,389.454l0.602,0.867l-1.402-0.382L313.749,389.454z M313.394,389.398l-0.94,0.08
            l0.337-0.442L313.394,389.398z M313.137,389.006l-0.453-0.137l0.543-0.089L313.137,389.006z M313.841,389.338l-0.408-0.224
            l-0.106-0.34L313.841,389.338z M310.595,389.217l-0.272-0.452l0.299,0.209L310.595,389.217z M314.065,388.967l-0.343-0.27
            l0.336-0.047L314.065,388.967z M312.259,389.014l-0.506-0.361l0.219-0.069L312.259,389.014z M312.596,388.783l-0.669-0.46
            l1.407,0.161L312.596,388.783z M311.877,388.505l-0.576-0.078l0.185-0.149L311.877,388.505z M311.062,388.486l-0.222-0.424
            l0.251,0.149L311.062,388.486z M313.717,388.658l-0.076-0.611l0.43,0.507L313.717,388.658z M312.151,388.147l-0.233-0.136
            l0.596,0.055L312.151,388.147z M311.784,387.95l-0.389-0.137h0.83L311.784,387.95z M312.821,388.084l-0.396-0.332l0.466,0.106
            L312.821,388.084z M313.161,387.801l-0.24-0.284l0.334,0.156L313.161,387.801z M316.075,388.061l-0.143,0.28l-0.45-0.106
            l0.482,0.259l-0.535,0.683l-0.327,0.083l-0.451-0.367l0.48-0.067l-0.816-0.473l0.872-0.85L316.075,388.061z M313.525,387.726
            l-0.313-0.177l0.309-0.089L313.525,387.726z M312.928,387.751l-0.581-0.384l0.476,0.1L312.928,387.751z M314.594,387.568
            l-0.182-0.077l0.078-0.161l0.268,0.181L314.594,387.568z M313.015,387.414l-0.381-0.172l0.42-0.034L313.015,387.414z
             M313.319,387.31l-0.18-0.154l0.238-0.008L313.319,387.31z M311.86,387.317l-0.375-0.134l0.219-0.05L311.86,387.317z
             M311.666,386.976l-0.21-0.124l0.324,0.015L311.666,386.976z M312.541,387.249l-0.372-0.234l0.087-0.171L312.541,387.249z
             M312.844,386.978l-0.458-0.165l0.177-0.132L312.844,386.978z M311.553,386.477l-0.082-0.045l0.292,0.006L311.553,386.477z
             M313.295,386.781l-0.418-0.589l0.315,0.218L313.295,386.781z M314.416,386.449l-0.399-0.312l0.271-0.099L314.416,386.449z
             M312.368,385.662l0.367,0.39l-1.046-0.048L312.368,385.662z M310.202,385.193l-0.335,0.108l-0.267-0.261L310.202,385.193z
             M311.791,382.148l-0.392-0.003l0.288-0.144L311.791,382.148z M312.186,381.959l-0.782-0.518l0.299-0.008L312.186,381.959z
             M312.721,381.208l-0.275-0.184l0.317,0.027L312.721,381.208z M314.069,380.72l-0.321-0.168l0.236-0.114L314.069,380.72z
             M310.218,379.683l1.01,0.086l0.76,1.252l-0.657,0.342l0.301,0.476l-0.525-0.03l0.167,0.338l0.96,0.561l-0.253,0.406l0.611,0.555
            l-0.631,0.873l-1.559-0.479L310.218,379.683z M312.49,379.833l-0.21-0.062l-0.075-0.321L312.49,379.833z M307.209,302.959
            l1.262,1.278l0.773,3.221l1.414,1.188l-0.565,3.094l1.85,2.82l1.371,4.851l1.893-0.02l0.563,0.574l-0.548,3.229l-3.059,2.387
            l0.721,1.087l-0.019,4.404l0.997,1.301l-1.32,0.651l-1.628,4.059l-0.511,2.866l1.057,2.794l-1.259,3.148l2.493,6.271l1.009,0.662
            l0.511,2.718l-1.24,3.24l1.064,2.862l-1.43,2.281l2.397,5.559l-1.188,1.127l-0.16,2.113l0.43,3.607l1.93,4.218l-0.839,0.591
            l0.733,2.208l1.212,0.548l0.942,3.623l2.059,0.515l-0.161,0.8l-2.034-0.095l2.523,1.611l-0.823,1.096l1.406,3.186l-0.521,0.423
            l0.632,1.259l-0.935,0.77l0.083,1.4l1.101,1.303l-0.135,1.432l-1.603,2.267l2.542,3.735l1.976-0.317l0.851,2.639l1.805,1.467
            l4.579,0.002l4.205,1.158l-2.174-0.52l-3.019,1.594l0.982,3.087l-0.557,0.394l-3.426-1.46l1.152-0.542l0.126,1.029l0.419-0.141
            l0.549-2.138l-2.927,0.806l1.013,0.33l-0.913,0.422l0.898,0.652l-2.362-0.932l1.298,0.187l-0.363-0.346l0.289-0.095l-0.729-0.122
            l-0.391-0.753l0.417-0.337l2.812-0.341l-3.281-0.283l-0.122,0.26l0.578,0.101l-0.522,0.591l0.349,0.641l-1.199-0.18l0.353-0.353
            l-0.911-0.291l1.237-0.842l-1.634,0.634l0.085-0.563l-1.115-1.56l1.214,0.604l0.603-0.471l0.564,0.594l0.018-0.853l0.748,1.009
            l-0.594,0.433l0.788-0.424l-0.648-1.609l-2.289-0.996l2.059,0.973l-1.955-0.522l1.191,0.77l-0.447,0.689l-0.937-1.321l0.912,1.518
            l-0.758-0.299l-0.292-1.123l-1.152-0.197l-0.307-0.77l1.04,0.757l-0.878-1.399l-1.591-0.669l1.455-0.693l-0.492-0.959
            l-0.618,1.305l-1.039-1.058l1.061,0.174l-2.391-1.03l2.123,0.278l-1.614-0.93l1.283,0.24l-1.627-1.362l1.654,0.401l-1.317-0.854
            l0.123-1.393l-0.828,1.23l-0.942-1.902l0.867-0.219l-0.986-0.393l0.787-0.206l-0.098-0.416l-2.023-1.208l2.973,0.688l0.5-0.492
            l-1.151-0.569l1.182,0.302l-1.78-1.466l-0.159,0.988l-2.145-0.407l1.614-0.303l-1.417-0.559l1.005-1.245l-1.108-0.777
            l-1.899-0.109l-0.181-0.961l-1.393,1.007l0.797,0.523l-1-0.646l2.303-2.89l0.567,0.045l0.741,0.893l-0.169,0.283l-0.496,0.195
            l-0.522-0.182l0.469,0.235l0.644-0.219l0.659,0.469l-0.305-0.638l0.468,0.5l-0.271,0.801l0.414,0.085l0.453-1.592l-0.385,0.757
            l-0.321-1.07l0.86-0.945l-0.887,0.346l-0.182-1.002l1.686-0.1l-1.703-0.423l-0.198-0.938l0.586-0.111l0.736-0.587l0.078-0.861
            l-2.059-1.008l0.724-1.123l-1.045-1.031l0.525-1.198l-0.791-1.452l0.813-0.047l-1.086-0.857l1.265,0.531l-0.601-1.481
            l-1.079-0.197l1.042-0.784l-0.114-0.669l-0.395,0.84l-1.187-0.693l-0.342,0.954l-1.436-0.116l0.421-0.722l-1.004-0.118
            l-0.844-1.588l0.48-4.883l-3.067-7.077l1.125-0.228l1.139-14.403l-1.954-5.931l0.577-2.73l-1.176-2.931l0.913-4.271l0.173-7.16
            l-0.574-5.716l-0.658-0.219l0.823-6.55l-1.981-9.749l1.219-0.335l1.015-2.337L307.209,302.959z M314.314,392.548l-0.089,0.404
            l0.186-0.12L314.314,392.548z M324.309,413.265l0.081-0.123l-0.122,0.1L324.309,413.265z"/>
        </g>
        <text x="330" y="310" font-family="sans-serif" font-size="20px" fill="red">{{articleCount}}</text>
        <ForeignObject><h3 onclick={{action "someAction"}}>Fire action on click</h3></ForeignObject>
        <ForeignObject>{{cont-modal isModalOpen=isModalOpen contTitle="Africa"}}</ForeignObject>