<nav class="new-mess">
 {{!--  <ul style="transform: translateX(0px);" id="slide-out" class="side-nav new-mess right">
    <li class=> Test </li>
  </ul> --}}
  <h5>New Articles</h5>
  {{#if newArticles}}
    <div class="new-messages">
      {{#each newMessagesArray as |newArticle|}}
        <p>{{newArticle.attributes.title}}</p>
      {{/each}}
    </div>
  {{else}}
    <div class="loading"></div>
    <h6 class="waiting"> Waiting</h6>
  {{/if}}
</nav>
