// Fix for Roboto font path
$roboto-font-path: '../assets/';

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}


body {
  font-family: Courier, monospace;
  font-size: 1.2em;
  margin-left: 2em;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  
  display: -webkit-flex;
   display: flex;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   /* You can set flex-wrap and flex-direction individually */
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   /* Or do it all in one line with flex flow */
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
   /* tweak the where items line up on the row */
   /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
   -webkit-align-content: flex-end;
   align-content: flex-end;
}

ul div {
  // display: inline-block;
  // vertical-align: top;
  // height: 250px;
  // text-align: center;
  // padding: 0 1em 3em;
}

ul li {
  padding: 1em;
  border: 6px solid #AFAFAF;
  background: #E9E9E9;
  height: 90%;
  cursor: pointer;
  width: 30%;
  margin: 15px 7.5px 0 7.5px;
}

a {
  text-decoration: none;
  color: inherit;
}

a.author {
  text-decoration: underline;
  color: #111;
}

.modal {
  width: 20em;
  height: 15em;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -7.5em;
  margin-left: -10em;
  padding: 1em;
  background-color: #f1c40f;
  border-radius: 5px;
  text-align: center;
  z-index: 11; /* 1px higher than the overlay layer */
  opacity: 1 !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.28);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.28);
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.28);
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.blur-background {
  z-index: -999;
  opacity: 0.3;
  pointer-events: none;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

// Materialize styles
@import "bower_components/materialize/sass/materialize.scss";

// ember-cli-materialize styles
@import 'ember-cli-materialize';


#world-map {
  margin: 25px 0;
}

/* Sass variables & mixins */
$back: #eee;
$selected: #0066FF;
$not-selected: #818A97;
$font: Play, sans-serif;
$time: 1s;

@mixin transition($tTime) {
  transition: all $tTime ease;
}

/* ************************ */
/* container styling */
#wrapper {
  // background: $back;
  // padding: 20px 0 40px;
}

#map-container {
  margin: 0 auto; 
  // width: 50%;
  position: relative; 
  font-family: $font;
  text-align: center;
  color: $selected;
  
  a {
    display: block;
    text-decoration: none;
    color: $selected;
    &:hover {
      opacity: .5;
      @include transition($time);
    }
    &:visited {
      color: $selected;
    } 
  }
}

/* ************************ */
/* caption styling */
#map-caption {
  @include transition($time);
  
  width: 100%;
  position: absolute;
  bottom: 80px;
  margin: 0 auto; 
  text-shadow: -1px 1px 8px $back, 1px -1px 8px $back;
}

/* caption fade in / out */
.fade { @include transition ($time); }
.in { opacity: 1; }
.out { opacity: 0; }

/* ************************ */
/* countries styling */
// .st0 { fill: $not-selected; }
.st1, .st0 {
  @include transition ($time);
  
  // fill: $selected;
  opacity: .8;
  
  &:hover {
    opacity: 1;
  }
}