<ul>
{{#each model as |article|}}
  <li>
    {{article-row blurBackground=(route-action "blurBackground") article=article}}
    {{favourite-btn favouriteBtnClick=(route-action "favouriteBtnClick") article=article}}
  </li>
{{/each}}
</ul>