

{{!-- {{#article-filter
   filter=(action 'filterByArticle')
   as |rentals|}}
  <ul class="results">
    {{#each rentals as |rentalUnit|}}
      <li></li>
    {{/each}}
  </ul>
{{/article-filter}} --}}